<section
  class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center p-6"
>
  <div
    class="w-full max-w-md bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 p-8"
  >
    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Registro</h1>
    </div>
    <form [formGroup]="registerForm" class="space-y-7" (ngSubmit)="onSubmit()">
      <div class="space-y-1">
        <p-floatlabel>
          <input
            pInputText
            class="bg-gray-200 dark:bg-gray-700 p-3 w-full rounded-lg border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"
            id="nombre"
            formControlName="nombre"
            autocomplete="off"
          />
          <label for="nombre">Nombre</label>
        </p-floatlabel>
        <span
          *ngIf="
            registerForm.get('nombre')?.errors &&
            registerForm.get('nombre')?.touched
          "
          class="text-sm text-red-500"
        >
          {{ error("nombre") }}
        </span>
      </div>

      <div class="space-y-1">
        <p-floatlabel>
          <input
            pInputText
            class="bg-gray-200 dark:bg-gray-700 p-3 w-full rounded-lg border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"
            id="email"
            formControlName="email"
            autocomplete="off"
          />
          <label for="email">Email</label>
        </p-floatlabel>
        <span
          *ngIf="
            registerForm.get('email')?.errors &&
            registerForm.get('email')?.touched
          "
          class="text-sm text-red-500"
        >
          {{ error("email") }}
        </span>
      </div>

      <div class="space-y-1">
        <p-floatlabel>
          <p-password
            formControlName="password"
            promptLabel="Introduzca la contraseña"
            [toggleMask]="true"
            class="w-full"
            id="password"
          />
          <label for="password">Contraseña</label>
        </p-floatlabel>
        <span
          *ngIf="
            registerForm.get('password')?.errors &&
            registerForm.get('password')?.touched
          "
          class="text-sm text-red-500"
        >
          {{ error("password") }}
        </span>
      </div>

      <div class="space-y-1">
        <p-floatlabel>
          <p-password
            formControlName="confirmPassword"
            [disabled]="disableCheckPassword()"
            [feedback]="false"
            [toggleMask]="true"
            class="w-full"
            id="confirmPassword"
          />
          <label for="confirmPassword">Repetir contraseña</label>
        </p-floatlabel>
        <span
          *ngIf="
            registerForm.get('confirmPassword')?.errors &&
            registerForm.get('confirmPassword')?.touched
          "
          class="text-sm text-red-500"
        >
          {{ error("confirmPassword") }}
        </span>
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg px-5 py-3 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 transition-all"
      >
        Registro
      </button>

      <p
        class="text-center text-sm font-light text-gray-500 dark:text-gray-400"
      >
        ¿Ya tienes cuenta?
        <a
          routerLink="/auth/sign-in"
          class="font-medium text-green-600 hover:underline dark:text-green-500"
        >
          Iniciar sesión
        </a>
      </p>
    </form>
  </div>
</section>
